# For JAVA
#Eclipse folders
linking_java/OntoSimilarity/.settings
linking_java/OntoSimilarity/.project
linking_java/OntoSimilarity/.classpath

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# For Maven

target/
.env/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# For python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
