<table class="table table-hover">
	<tr>
		<td> <label> Select a Data Source: </label> </td>
		<td>
			<select (change)="onDBSelect($event)">
			  <option value="">--Select--</option>
			  <option value="Anatomy">Anatomy</option>
			  <option value="LargeBio-track1">LargeBio-track1</option>
			  <option value="LargeBio-track2">LargeBio-track2</option>
			  <option value="LargeBio-track3">LargeBio-track3</option>
			  <option value="LargeBio-track4">LargeBio-track4</option>
			  <option value="LargeBio-track5">LargeBio-track5</option>
			  <option value="LargeBio-track6">LargeBio-track6</option>
			</select>
		</td>
	</tr>
	<tr>
		<td> <label for="onto1FileFieldSrc">Select a Source: </label> </td>
		<td> <input type="file" id ="onto1FileFieldSrc" ng2FileSelect (change)="onFileSelectedSrc1($event)"/> </td>
	</tr>
	<tr>
		<td> <label for="onto1FileFieldTrgt">Select a Target: </label> </td>
		<td> <input type="file" id ="onto1FileFieldTrgt" (change)="onFileSelectedTrgt1($event)"/> </td>
	</tr>
	<tr>
		<td colspan="2">
			<button (click)="callJavaWS()" class="btn btn-success btn-s" id="ontoBtnDiv" [disabled]=false>Upload File</button>
		</td>
	</tr>
	<tr>
		<td>
			<div id="loadingIndicator" class="spinner" style="display:none"></div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<div class="alert alert-danger" *ngIf="ontosim_data.msg.msg_val != ''" 
			style="width:700px;">
			<strong>
				{{ontosim_data.msg.msg_val}}
			</strong>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<div style="overflow-y:scroll; height:400px;width:700px;">{{ontosim_data.msg.msg_cause}}</div>
		</td>
	</tr>
</table>
