<table class="table table-hover">
	<tr>
		<td> <label> This is pg-1 </label> </td>
		<td></td>
	</tr>
	<tr>
		<td> <label for="onto1FileFieldSrc">Select a Source: </label> </td>
		<td> <input type="file" id ="onto1FileFieldSrc" ng2FileSelect (change)="onFileSelectedSrc1($event)"/> </td>
	</tr>
	<tr>
		<td> <label for="onto1FileFieldTrgt">Select a Target: </label> </td>
		<td> <input type="file" id ="onto1FileFieldTrgt" (change)="onFileSelectedTrgt1($event)"/> </td>
	</tr>
	<tr>
		<td><button (click)="uploadOWLFile()" class="btn btn-success btn-s">Upload File</button></td>
		<td></td>
	</tr>
</table>
