aniso8601==7.0.0
Click==7.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.7
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
nltk==3.4.4
pytz==2019.1
six==1.12.0
Werkzeug==0.15.4
